[submodule "Bolt-Engine/Bolt-Core/vendor/OpenAL-Soft"]
	path = Bolt-Engine/Bolt-Core/vendor/OpenAL-Soft
	url = https://github.com/kcat/openal-soft
[submodule "Bolt-Engine/Bolt-Core/vendor/pybind11"]
	path = Bolt-Engine/Bolt-Core/vendor/pybind11
	url = https://github.com/pybind/pybind11
[submodule "Bolt-Engine/Bolt-Core/vendor/Python/cpython"]
	path = Bolt-Engine/Bolt-Core/vendor/Python/cpython
	url = https://github.com/python/cpython.git
